.table {
    border-collapse: collapse;
    width: 100%;z-index: -1;
}

th, td {
    text-align: left;
    padding: 8px;
}
tr:nth-child(even){background-color: #f2f2f2}

.day:hover{
	background-color: #8bc34a;
	color: white;
	}

.event:hover{
	background-color: #8bc34a;
	color: white;
	}
button{
	margin: 1px;
	background-color: #259b24;
	color: white;
	border:2px solid  #259b24;
}
button:hover{
	background-color: #8bc34a;
	border:2px solid  #8bc34a;
}

.evform,.evform2{
	padding: 10px;
	position: fixed;
	bottom:200px;
	left: 300px;
	z-index: 2px;
	height:240px;
	width: 430px;
	border:1px solid  #259b24;
	border-radius: 5px;
	background-color: white;
}
input{
	width: 400px;
	margin: 5px;
}

.submit{
	margin-top: 15px;
}
.appt{
	background-color: #ffeb3b;
	color: black;
}